.app {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

.data-column {
  display: inline-block;
  flex: 1 1 200px;
  padding: 10px;
}

.data-column.hidden {
  display: none;
}

.column-name {
  border: none;
  font-size: 14px;
  color: #2d2d2d;
}