.app {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

.data-column {
  display: inline-block;
  flex: 1 1 250px;
  padding: 10px;
  border: solid 8px #f7f7f7;
}

.data-column.hidden {
  display: none;
}
