.json-column {
  max-width: 350px;
  max-height: 250px;
  overflow-y: scroll;
}

.cell-name {
  font-size: 12px;
  font-weight: bold;
  color: #2d2d2d;
  margin-bottom: 10px;
}

.formula-editor .CodeMirror {
  height: 200px;
  width: 100%;
  background: white !important;
  border: solid thin #ddd;
}

.formula-editor.valid .CodeMirror {
  border-bottom: solid 5px hsl(127, 100%, 90%);
}

.formula-editor.invalid .CodeMirror {
  border-bottom: solid 5px hsla(0, 100%, 90%);
}

.column-name {
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: #2d2d2d;
  display: inline-block;
  width: 273px; /* janky hack to position type selector */
}