.data-cell {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100px auto;
  grid-template-areas: "name data";

  overflow: hidden;
  border-bottom: solid thin #ddd;
  padding: 10px;
}

.data-cell.active {
  border: solid 2px #62c5ff;
  padding: 8px; /* displace border */
}

.data-cell.pinned {
  border: solid 2px hsl(127, 100%, 90%);
  padding: 8px;
}

.data-cell.expanded {
  grid-template-columns: 0 auto;
}

.data-cell:last-child {
  border-bottom: none;
}

.column-name {
  grid-area: name;
  width: 80px;
  overflow: scroll;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: #2d2d2d;
}

.data-preview {
  grid-area: data;
  width: 100%;
  height: 80px;
  overflow: scroll;
}

.data-preview.expanded {
  width: 100%;
  height: 100%;
  overflow: visible;
}
