.formula-type-selector {
  display: block;
  margin: 3px;
  font-size: 12px;
}

.json-column {
  max-width: 300px;
}

.formula-editor {
  width: 300px;
  font-size: 14px;
}

.formula-editor.valid{
  background-color: hsl(127, 100%, 90%);
}

.formula-editor.invalid{
  background-color: hsla(0, 100%, 90%);
}