.data-column {
  display: inline-block;
  flex: 1 1 200px;
  padding: 10px;
}

.json-column {
  max-width: 250px;
}

.formula-editor {
  width: 250px;
  font-size: 14px;
}

.formula-editor.valid{
  background-color: hsl(127, 100%, 90%);
}

.formula-editor.invalid{
  background-color: hsla(0, 100%, 90%);
}